@layout('web.layouts.app')
@section('content')
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col col-xs-12 text-center" style="margin-top: 5em; margin-bottom: 10em;">
        <h1>Lỗi 404</h1>
        <h4>Không tìm thấy trang này!</h4>
      </div>
    </div>
    <!-- row -->
  </div>
  <!--  container  -->
  @endsection