$sidebar-dark-nav-link-hover-color:       #563D7C !default;
$sidebar-dark-nav-link-hover-bg:          #D1D2E2 !default;
$sidebar-dark-nav-link-hover-icon-color:  #563D7C !default;
$sidebar-dark-nav-link-hover-borders:     none !default;

$sidebar-light-nav-link-hover-color:       #D1D2E2 !default;
$sidebar-light-nav-link-hover-bg:          #563D7C !default;
$sidebar-light-nav-link-hover-icon-color:  #D1D2E2 !default;
$sidebar-light-nav-link-hover-borders:     none !default;


$sidebar-dark-nav-link-active-color:       #563D7C !default;
$sidebar-dark-nav-link-active-bg:          #D1D2E2 !default;
$sidebar-dark-nav-link-active-icon-color:  #563D7C !default;
$sidebar-dark-nav-link-active-borders:     none !default;

$sidebar-light-nav-link-active-color:       #D1D2E2 !default;
$sidebar-light-nav-link-active-bg:          #563C7D !default;
$sidebar-light-nav-link-active-icon-color:  #D1D2E2 !default;
$sidebar-light-nav-link-active-borders:     none !default;

$sidebar-nav-dropdown-color:                #000015 !default;
$sidebar-light-nav-dropdown-color:          #000015 !default;
$sidebar-light-nav-dropdown-icon-color:     #000015 !default;

$sidebar-light-nav-dropdown-bg:             rgba(255, 255, 255, .05) !default;
$sidebar-light-nav-dropdown-color:          #000015 !default;
$sidebar-light-nav-dropdown-hover-color:    #D1D2E2 !default;
$sidebar-light-nav-dropdown-hover-icon-color: #D1D2E2 !default;

$sidebar-light-brand-bg:     #D1D2E2 !default;
$sidebar-light-brand-color:  #000015 !default;